<button class="btn" [routerLink]="['../product-create']">Create a new Product</button>
<div class="flex">
  <div class="flex w-full basis-1/2 flex-col gap-4">
    @if (productService.products().length > 0) {
      @for (p of productService.products(); track p.id) {
        <app-product-card [product]="p" (productSelect)="onProductSelect($event)" />
      }
    } @else {
      <p>There are no Products for this Organization</p>
    }
  </div>
  <div class="w-full basis-1/2">
    @if (productService.selectedProduct(); as product) {
      <app-product-edit-panel [product]="product" />
    }
  </div>
</div>
