<div class="space-y-2 pb-6">
  <p class="text-primary">{{ label() }}</p>
  <div class="flex gap-2">
    <input
      class="border-secondary rounded-lg border-2 p-2"
      [type]="resolvedType()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [value]="value()"
      (input)="onInput($event)"
      (blur)="onBlur()"
    />

    @if (isPassword()) {
      <button type="button" class="btn w-16" (click)="togglePasswordVisibility()">
        @if (isPasswordVisible()) {
          <p>Hide</p>
        } @else {
          <p>Show</p>
        }
      </button>
    }
  </div>

  @if (error()) {
    <p class="bg-error-l text-error rounded-lg p-1">{{ error() }}</p>
  }
</div>
