<div>
  <p>{{ label() }}</p>
  <div class="flex">
    <input
      class="input"
      [id]="type()"
      [type]="resolvedType()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [value]="value()"
      (input)="onInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      autocomplete="off"
    />

    @if (isPassword()) {
      <button
        type="button"
        class="button"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="isPasswordVisible() ? 'Hide password' : 'Show password'"
        tabindex="-1"
      >
        @if (isPasswordVisible()) {
          <p>Hide</p>
        } @else {
          <p>Show</p>
        }
      </button>
    }
  </div>

  @if (error()) {
    <p class="error">{{ error() }}</p>
  }
</div>
