<div class="space-y-2 pb-6">
  <p class="text-cyan-600">{{ label() }}</p>
  <div class="flex gap-2">
    <input
      class="rounded-lg border-2 border-gray-200 p-2"
      [type]="resolvedType()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [value]="value()"
      (input)="onInput($event)"
      (blur)="onBlur()"
    />

    @if (isPassword()) {
      <button
        type="button"
        class="w-16 cursor-pointer rounded-lg bg-cyan-600 text-center text-white transition-colors duration-300 hover:bg-cyan-700"
        (click)="togglePasswordVisibility()"
      >
        @if (isPasswordVisible()) {
          <p>Hide</p>
        } @else {
          <p>Show</p>
        }
      </button>
    }
  </div>

  @if (error()) {
    <p class="rounded-lg bg-red-100 p-1 text-red-500">{{ error() }}</p>
  }
</div>
