<div class="flex-center flex-col">
  <input
    type="text"
    label="Name"
    placeholder="Organization Name"
    [value]="filter()"
    (input)="onInput($event)"
  />
  @if (visibleOrganizations().length > 0) {
    @for (o of visibleOrganizations(); track o.id) {
      <p
        class="border-b-primary hover: bg-secondary w-full cursor-pointer rounded-lg border-2 p-2"
        (click)="this.chosenOrganization.set(o)"
      >
        {{ o.name }}
      </p>
    }
  } @else {
    <!-- No Organizations -->
    @if (loadingList()) {
      <p>Loading...</p>
    } @else {
      <p>No Organizations currently exist</p>
    }
  }
  <button
    class="btn w-full"
    (click)="onSubmit()"
    [disabled]="loadingSubmit() || !this.chosenOrganization()"
  >
    {{
      loadingSubmit()
        ? 'Submitting…'
        : this.chosenOrganization()
          ? `Apply to ${this.chosenOrganization()!.name}`
          : 'Choose an Organization'
    }}
  </button>
</div>
