<div class="flex-center flex-col">
  @if (this.organizationService.currentOrganization()!.joinRequests.length > 0) {
    @for (r of this.organizationService.currentOrganization()!.joinRequests; track r.id) {
      <div class="flex-between padding-4 border-b-primary border-2">
        <p>{{ r.userName }} - {{ r.userEmail }}</p>
        @if (this.organizationService.isOwner()) {
          <p>Pending</p>
          <button class="btn" (click)="onAccept(r.id)">Accept</button>
          <button class="btn" (click)="onDeny(r.id)">Deny</button>
        } @else {
          <p>Pending</p>
        }
      </div>
    }
  } @else {
    <p>There are currently no pending requests</p>
  }
</div>
