@let requests = this.organizationService.currentOrganization()!.joinRequests;
@let isOwner = this.organizationService.isOwner();

<div class="flex-center flex-col">
  @if (requests.length > 0) {
    @for (r of requests; track r.id) {
      <div class="flex-between padding-4 border-b-primary border-2">
        <p>{{ r.userName }} - {{ r.userEmail }}</p>
        @if (isOwner) {
          <p>Pending</p>
          <button class="btn" (click)="onAccept(r.id)">Accept</button>
          <button class="btn" (click)="onDeny(r.id)">Deny</button>
        } @else {
          <p>Pending</p>
        }
      </div>
    }
  } @else {
    <p>You are currently not in any Organization.</p>
  }
</div>
