<div class="grid grid-cols-3 gap-4">
  @if (this.organizationService.currentOrganization()!.members.length > 0) {
    @for (m of this.organizationService.currentOrganization()!.members; track m.userId) {
      <p>{{ m.userName }} - {{ m.userEmail }}</p>

      <p class="font-semibold">{{ m.role }}</p>

      <div class="flex gap-4">
        @if (this.organizationService.isOwner()) {
          @if (m.role === 'Manager') {
            <button class="btn" (click)="onDemote(m.userId)">Demote</button>
          } @else if (m.role === 'Employee') {
            <button class="btn" (click)="onPromote(m.userId)">Promote</button>
          }
        }
      </div>

      <div class="col-span-3 border-b border-black"></div>
    }
  } @else {
    <p>There are currently no other members</p>
  }
</div>
