@import 'tailwindcss';

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@layer components {
  .btn {
    @apply cursor-pointer rounded-lg bg-cyan-600 text-center text-white transition-colors duration-300 hover:bg-cyan-700;
  }
}
