<!-- @let organization = organizationService.currentOrganization(); -->
<!-- Protected endpoint, user is never null -->
@let memberships = authService.currentUser()!.memberships;

<div class="flex-center flex-col gap-2">
  @if (memberships.length > 0) {
    @for (m of memberships; track m.organizationId) {
      <p
        class="padding-4 border-b-primary hover: bg-secondary border-2"
        [routerLink]="['/', m.organizationId]"
      >
        {{ m.organizationName }} - {{ m.role }}
      </p>
    }
  } @else {
    <p>You are currently not in any Organization.</p>
  }
  <button class="btn" routerLink="/join-organization">Join an Organization</button>
  <button class="btn" routerLink="/create-organization">Create an Organization</button>
</div>
